:root {
  --black-700: #0d0d0d;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;

  --blue: #4ea8de;
  --purple: #5e60ce;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
